
 /* Site header
 */

 .home {
    padding-top: 150px;
 }

 .head-size {
    width:50%;
    margin:auto;
    text-align:center;
 }
.site-header {
    padding:20px;
    height:150px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.italic {
    text-align:center;
    color:rgb(131, 164, 175);
    font-weight: 200;
    font-size:18px;

}
hr {
   border: 0;
   height: 1px;
   background: rgb(131, 164, 175);
   background-image: linear-gradient(to right, white, #333, white);
   opacity:.5;
}
.site-title {
    font-family:$head-font-family;
    font-size: 110px;
    color:#ED9A9A;

    line-height: 56px;
    letter-spacing: -1px;
    text-align:center;
    margin:auto;
    opacity:.8;
    transition: opacity .3s;
    position: relative;
    z-index: 1;
    &:hover {
        opacity:.6;
        text-decoration: none;
    }
    &:visited {
        color: #ED9A9A; 
    }
}


.site-nav {
    text-align: center;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: #333;
        line-height: $base-line-height;
        font-weight: 900;
        font-size: 20px;
        text-transform:uppercase;
        opacity:.8;
        transition:opacity .3s;
        &:hover {
            text-decoration:none;
            opacity:.6;
        }
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }


}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */

 .post {
    width:70%;
    margin:auto;
 }
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {

    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */


.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color:#ED9A9A;
    opacity:.5;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    a {
        font-weight: 900;
    }

    h2 {
        font-size: 32px;
        line-height:1;
        text-transform: uppercase;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.portfolio-thumb {
    width:100%;
    margin-bottom:20px;
}

.row {
    padding:10px 0px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-left: 0px;
}

@media(max-width: 860px) {
    .head-size {
        width:80%;
    }
}

@media(max-width: 550px) {
    .head-size {
        width:100%;
    }

    .site-title {
    font-size: 90px;
    }

}
